@import '~mdb-ui-kit/css/mdb.min.css';
body{
    font-family: 'Roboto Serif', sans-serif;
    display: flex;
    flex-direction: column;;
    margin: 0px;
    width: 100%;
}
.main-area{

    flex-grow: 1;
    flex-direction: column;
    flex-grow: 1;
}

#menu a{
    font-size: 18px;
    text-align: right;
    padding: 10px;
    color: #e5e7eb;
    text-decoration: none;
}
.double-panel{
    background-color: #fdffe0;
    opacity: 0.8;
    display: flex;
    
    align-content: center;  
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#portrait{
    max-width: 300px;
    border-radius: 100px;
    padding: 50px;
}


#sobre{
    font-size: 1.2rem;
    padding: 2.5%;
    margin:2.5%;
    text-align: center;

}
#sobre h1{
    font-family: 'Inika', serif;
    font-weight: 700;
}
#cv{
    background-color: brown;
}
#atendimento{
    padding-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(187, 173, 148, 0.589);
    
    text-align: center;
}
#atendimento img{
    box-shadow: 10px 5px 5px rgba(141, 141, 141, 0.507);
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}
#textbox{
    border-radius: 10px;
    background-color: rgb(238, 255, 253);
    color: rgb(46, 28, 0);
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 4px 6px rgba(141, 141, 141, 0.507);
}
@media screen and (max-width: 768px){
    #textbox{
        display: block;
        min-width: 100%;
        border-radius: 10px;
        background-color: rgb(238, 255, 253);
        color: rgb(46, 28, 0);
        padding: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        box-shadow: 10px 4px 6px rgba(141, 141, 141, 0.507);
    }
}
@media screen and (max-width:768px){
    #atendimento img{
        visibility: hidden;
        max-height: 0%;
        max-width: 0%;

    }    
}

.card-layout{
    background-color: rgb(44, 23, 11);
}
#depoimentos{
    background-color: darkgoldenrod;
}

.faq {
    padding: 60px 0;
  }
  .faq .lista-faq {
    padding: 0;
    list-style: none;
  }
  .faq .lista-faq li {
    display:block;
    position: relative;
    border-bottom: 2px solid #af9d8b;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .faq .lista-faq .pergunta {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    padding-left: 25px;
  }
  .faq .lista-faq i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  .faq .lista-faq p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
  }
  .faq .lista-faq .icon-show {
    display: none;
  }
  .faq .lista-faq .collapsed:hover {
    color: #af9d8b;
  }
  .faq .lista-faq .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
  }
  .faq .lista-faq .collapsed .icon-close {
    display: none;
    transition: 0.6s;
  }

#contato{
    margin-top: 30px;
    margin-bottom: 15px;
    
}
.map{
    padding:0;
    margin-bottom: -10px;
}
.map iframe{
    width: 100%;
    height: 280px;
}
.footer{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    color: white;
    background-color: rgb(29, 25, 26);
}

/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 250ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }